body {
    margin: 0;
    min-height: 1140px;
}

.top{
	height: 100px;
	background-color: blue;
	font-size: 50px;
	color: white;
	text-align: center;
	line-height: 100px;	
}
.go-to-top{
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 10px;
	background-color: blue;
	color: white;

}